<br>
<div class="row">
    <div class="col-md-4">
        <grupo-practica-form (changedAcademia)="setAcademiaGrupoPractica($event)"
                             (changedCampoClinico)="setCampoClinico($event)"
                             (submitted)="persistGrupoPractica($event)"
                             [camposClinicos]="camposClinicos"
                             [academias]="academias"
                             [grupoPractica]="grupoPractica">
        </grupo-practica-form>
    </div>
    <div class="col-md-8">
        <grupo-practica-table [gruposPractica]="gruposPractica">
        </grupo-practica-table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <grupo-teoria-form (changedAcademia)="setAcademiaGrupoTeoria($event)"
                           (submitted)="persistGrupoTeoria($event)"
                           [academias]="academias" [grupoTeoria]="grupoTeoria">
        </grupo-teoria-form>
    </div>
    <div class="col-md-8">
        <grupo-teoria-table [gruposTeoria]="gruposTeoria">
        </grupo-teoria-table>
    </div>
</div>
