<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Tabla de grupos teor&iacute;a</strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr class="active">
                    <th>Nombre</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th>Academia</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="#grupoTeoria of gruposTeoria">
                    <td>{{grupoTeoria.nombre}}</td>
                    <td>{{grupoTeoria.fechaInicio}}</td>
                    <td>{{grupoTeoria.fechaFin}}</td>
                    <td>{{grupoTeoria.academia.nombre}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
