<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Captura de grupos teor&iacute;a</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" (ngSubmit)="onSubmit()" #grupoTeoriaForm="ngForm">
            <div class="form-group">
                <label class="col-sm-5 control-label">Academia</label>
                <div class="col-sm-7">
                    <select class="form-control" required ngControl="academia"
                            (change)="onChangeAcademia($event)">
                        <optgroup label="Academia">
                            <option *ngFor="#academia of academias" [value]="academia.id">
                                {{academia.nombre}}
                            </option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Nombre</label>
                <div class="col-sm-7">
                    <input type="text" [(ngModel)]="grupoTeoria.nombre"
                           class="form-control" placeholder="ENF04A" required
                           ngControl="nombre">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Fecha de inicio</label>
                <div class="col-sm-7">
                    <input type="date" [(ngModel)]="grupoTeoria.fechaInicio"
                           class="form-control" placeholder="375" required
                           ngControl="fechaInicio">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Fecha de fin</label>
                <div class="col-sm-7">
                    <input type="date" [(ngModel)]="grupoTeoria.fechaFin"
                           class="form-control" placeholder="375" required
                           ngControl="fechaFin">
                </div>
            </div>
            <label class="col-sm-5 control-label"></label>
            <div class="col-sm-7">
                <button type="submit" class="btn btn-success"
                        [disabled]="!grupoTeoriaForm.form.valid">Guardar</button>
            </div>
        </form>
    </div>
</div>
