<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Tabla de grupos teor&iacute;a</strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr class="active">
                    <th>Nombre</th>
                    <th>Fecha de inicio</th>
                    <th>Turno</th>
                    <th>Hora de inicio</th>
                    <th>Hora de fin</th>
                    <th>Academia</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="#horarioGrupoTeoria of horariosGruposTeoria">
                    <td>{{horarioGrupoTeoria.grupoTeoria.nombre}}</td>
                    <td>{{horarioGrupoTeoria.grupoTeoria.fechaInicio}}</td>
                    <td>{{horarioGrupoTeoria.turno}}</td>
                    <td>{{horarioGrupoTeoria.horaInicio}}</td>
                    <td>{{horarioGrupoTeoria.horaFin}}</td>
                    <td>{{horarioGrupoTeoria.grupoTeoria.academia.nombre}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
