<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Tabla de grupos pr&aacute;ctica</strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="active">
                        <th>Nombre</th>
                        <th>Fecha de inicio</th>
                        <th>Lugares</th>
                        <th>Turno</th>
                        <th>Hora de inicio</th>
                        <th>Hora de fin</th>
                        <th>Academia</th>
                        <th>Campo Clinico</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#horarioGrupoPractica of horariosGruposPractica">
                        <td>{{horarioGrupoPractica.grupoPractica.nombre}}</td>
                        <td>{{horarioGrupoPractica.grupoPractica.fechaInicio}}</td>
                        <td>{{horarioGrupoPractica.grupoPractica.lugares}}</td>
                        <td>{{horarioGrupoPractica.turno}}</td>
                        <td>{{horarioGrupoPractica.horaInicio}}</td>
                        <td>{{horarioGrupoPractica.horaFin}}</td>
                        <td>{{horarioGrupoPractica.grupoPractica.academia.nombre}}</td>
                        <td>{{horarioGrupoPractica.grupoPractica.campoClinico.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
