<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Añadir fecha de induccion</strong>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" (ngSubmit)="onSubmit()" #induccionForm="ngForm">
      <div class="form-group">
        <label class="col-sm-5 control-label">Fecha de induccion</label>
        <div class="col-sm-7">
          <input type="date" [(ngModel)]="induccion.fechaInduccion"
                 class="form-control" required
                 ngControl="fechaInduccion">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-5 control-label">Hora inicio</label>
        <div class="col-sm-7">
          <input type="time" [(ngModel)]="induccion.horaInicio"
                 class="form-control" required
                 ngControl="horaInicio">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-5 control-label">Hora fin</label>
        <div class="col-sm-7">
          <input type="time" [(ngModel)]="induccion.horaFin"
                 class="form-control" required
                 ngControl="horaFin">
        </div>
      </div>
      <label class="col-sm-5 control-label"></label>
      <div class="col-sm-7">
        <button type="submit" class="btn btn-success"
                [disabled]="!induccionForm.form.valid">Añadir</button>
      </div>
    </form>
  </div>
</div>
